node_modules/
.env
my-ec2-key*.pem

# React build output
public/dist/

# for runteq graduate examination
runteq_screen_transition_diagram.md
runteq_ERDiagram.md
runteq_issue.md

spreadsheet
