version: '3.8'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
    # mount public/dist (react generated files) for development
    # delete if not need.
      - ./public/dist:/usr/src/app/public/dist
