version: '3.8'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
    # for development. delete if not need.
      # - ./src:/usr/src/app/src
      # - ./public:/usr/src/app/public
      - ./public/dist:/usr/src/app/public/dist
