
/* Sidebar Component Styles */
.sidebar {
    width: 321px;
    /* border-right: 1px dashed #000; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-fixed-top {
    margin: 24px 0 8px 0;
}

.sidebar-new-chat {
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 24px;
    margin: 0 0 0 0;
    transition: background 0.2s;
    gap: 8px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
}

.sidebar-new-chat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    --sidebar-newchat-fill: #666;
}

body[data-theme="dark"] .sidebar-new-chat-icon {
    --sidebar-newchat-fill: #ddd;
}

.sidebar-new-chat:hover {
    background: #eee;
    color: #1565c0;
}

.sidebar-chats-header {
    margin: 16px 0 16px 0;
    color: #444;
    padding-left: 24px;
    font-size: 1.05em;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #bbb #ffffff;
}

.sidebar-loading {
    /* color: #888; */
    font-size: 1em;
    padding: 6px 24px;
}

.sidebar-chat-link {
    display: block;
    color: #222;
    text-decoration: none;
    font-size: 1em;
    padding: 6px 24px;
    margin-top: 4px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar-chat-link:hover {
    background: #eee;
    color: #1565c0;
}


/* Mobile Responsive */
@media screen and (max-width: 1024px) {
    .sidebar-content-wrapper {
        position: fixed;
        top: 0;
        left: -600px;
        background: #fff;
        height: 100%;
        z-index: 1000;
        transition: left 0.3s ease;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.03);
    }

    .sidebar-content-wrapper.sidebar-open {
        left: 0;
    }
}


/* Dark mode overrides */
body[data-theme="dark"] .sidebar-content-wrapper {
    background: #000000;
    color: #ffffff;
    border-right: 1px dashed #ffffff;
}

body[data-theme="dark"] .sidebar-new-chat {
    color: #ffffff;
    background: none;
}

body[data-theme="dark"] .sidebar-new-chat:hover {
    background: #515151;
    color: #cceeff;
}

body[data-theme="dark"] .sidebar-chats-header {
    color: #ddd;
}

body[data-theme="dark"] .sidebar-chat-link {
    color: #eee;
    background: none;
}

body[data-theme="dark"] .sidebar-chat-link:hover {
    background: #515151;
    color: #cceeff;
}

body[data-theme="dark"] .sidebar-content {
    scrollbar-color: #505050 #000000;
}
